html,body{margin:0;padding:0;background-color:#4c4c4c;}
body{font: 76% arial,sans-serif;text-align:center; }

p{margin:0 10px 10px;color:#ffffff;}
a{padding:5px; text-decoration:none; color:#ffffff;}
div#header{background-color:#d65836;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{
    background-image: url("../images/cool.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
div#navigation ul{margin:20px 0; padding:20; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#d65836;}
div#footer{background-color:#4c4c4c;}
div#footer p{margin:0;padding:5px 10px}
div#container{width:1020px;margin:0 auto}
div#content{float:left;width:500px}
div#navigation{float:right;width:200px}
div#extra{clear:both;width:100%}
div#logo{padding-top: 200; padding-bottom: 200;background-color:#4c4c4c;}
img#image{padding-top: 200; padding-bottom: 200;}
/*div#video1 {
  table-layout: left;
  width: 340px;
  background: #7f7e7f;
  padding: 15px 10px 15px 20px;
}
div#video2 {
  table-layout: right;
  width: 340px;
  background: #7f7e7f;
  padding: 15px 10px 15px 20px;
}*/
div#content{
	background-color:#7f7e7f;
}